body {
    font-family: sans-serif;
    background-color: darksalmon;
    color: black;
}

.allContent {
    background-color: darkgray;
    border-radius: 80px;
    width: auto;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

.section {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.mySection {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    padding-right: 10%;
    padding-left: 4%;
    background-color: darksalmon;
    margin: 10px;
}

.header {
    margin: auto;
    width: 80%;
    padding: 10px;

    border-radius: 1000px;
    border-color: cornflowerblue;
    border-width: 20px;

    text-align: center;
    font-size: xxx-large;

    background-color: #cb744c;
}


.footer {
    margin: auto;
    width: 90%;
    text-align: center;
    padding: 10px;
    color: black;

    border: 1px solid rgba(59, 58, 58, 0.46);
    border-radius: 20px;
    background-color: #e0d46b;

    font-size: large;
}


.footer p {
    text-align: center;
}

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border: 10px solid darkgray;
    border-radius: 100px;
}

.logo {
    width: 35px;
    height: 35px;
    filter: drop-shadow(10px 10px 10px #a59c46);
}

.logo:hover {
    position: relative;
    transform: rotate(90deg);
}

.logos li {
    display: inline-flex;
}

#grid {
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-rows:repeat(4, 70px);
    grid-template-columns: repeat(3, minmax(50px, 250px));
    grid-gap: 15px;
}

#grid > div {
    font-size: 13px;
    padding: 10px;
    background: #e0d46b;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}


.gallery {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(4, 25vw);
    gap: 40px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.gallery figure {
    position: relative;
    display: inline-block;
}

.gallery__photo {
    width: 60%;
    height: 101%;
    object-fit: cover;
    transition: transform .2s;
}

.gallery__photo:hover {
    transform: scale(1.2);
}

.containerForGallery {
    width: auto;
}

#timeOfLoading {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    color: black;
}

.nav {
    list-style-type: none;
    gap: 1vw;
    padding: 0;

}

.menuOfPage a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 10px;

    border-radius: 5px;
    color: black;
    background-color: darksalmon;
    text-transform: uppercase;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 30px;
    font-weight: bold;
}

.menuOfPage {
    margin: auto;
    width: 50%;
    border: 3px solid coral;
    border-radius: 10px;
    padding: 30px;
    align-content: space-between;
    text-align: center;
    background-color: darkgray;
}

.menuOfPage a:hover {
    color: crimson;
}

.gallerySwiper-pagination {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    text-align: center;
}

.my_grid_table {
    margin-bottom: 15px;
    display: grid;
    border-color: #000;
    border-width: 1px;
    border-style: inset;
    grid-template-columns: 1fr 1fr 1fr;
}

thead, tbody, tr {
    display: contents;
}

.my_table_row_field {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.my_table_row:nth-of-type(odd) .my_table_row_field {
    background-color: #21b448;
}

.my_table_row:nth-of-type(even) .my_table_row_field {
    background-color: #ded12e;
}

@media screen and (max-width: 720px) {
    .photo {
        display: none;
    }

    #grid {
        display: none;
    }

    #code {
        display: none;
    }
}
